*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    border-bottom: 2px solid black;
box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

#Logo{
    width: 50px;
    height: 50px;
}

#Nav-Bar{

}

a{
    color: black;
    text-decoration: none;

}

li{
    list-style: none;
    text-decoration: none;
}
ul{
    display: flex;
    gap: 20px;
}

#Div1 {
    background-image: url("images/background\ hotel.webp");
    height: 300px;
    background-size: cover;     
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    
    
}

#guestsTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-top: 20px;
}